#Mac DS_Store files
.DS_Store

#Eclipse project configuration
.classpath
.project

#Internal and compile SBT files
target
lib_managed
project/boot
project/build/target
project/plugins/lib_managed
project/plugins/project/
project/plugins/src_managed/
project/plugins/target/
.scala_dependencies
.settings/

#IntelliJ Idea project files
*.iml
*.ipr
*.iws
